/*

@mylifeasalllly

*/

// #Reset
// ================================================== 
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  {
		display: block; }
	body  {
		line-height: 1; }
	ol, ul  {
		list-style: none; }
	blockquote, q  {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after  {
		content: '';
		content: none; }
	table  {
		border-collapse: collapse;
		border-spacing: 0; }

// #Fonts
// ==================================================

@import url(http://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,300);

@font-face  {
    font-family: 'socialicoregular';
    src: url('fonts/socialico-webfont.eot');
    src: url('fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socialico-webfont.woff') format('woff'),
         url('fonts/socialico-webfont.ttf') format('truetype'),
         url('fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// #Variables
// ==================================================
    $green: #22B573;
    $gray: #757575;
    $black: #3a3a3a;


// #Basic Styles
// ==================================================
	body  {
        width: 100%;
        min-width: 320px;
        background: #f4f4f4;
        font-family: 'Open Sans',serif;
        font-size: 15px;
    }

::selection  {
    background: #FFFF00; /* Safari */
    }
::-moz-selection  {
    background: #FFFF00; /* Firefox */
}   

     .clear  {
        clear: both;
    }

    .right  {
        float: right;
        width: 40%;
        margin: 1% 2% 1% 1%;
        @media(max-width: 590px) {
            float: none;
            width: 95%;
        }
    }

    .left  {
        float: left;
        width: 45%;
        margin: 1%;
        @media(max-width: 590px) {
            float: none;
            width: 95%;
        }
    }


// #Animations
// ==================================================

@keyframes fadein
 {
from  {opacity: 0;}
to  {opacity: 1;}
}

@-moz-keyframes fadein /* Firefox */
 {
from  {opacity: 0;}
to  {opacity: 1;}
}

@-webkit-keyframes fadein /* Safari and Chrome */
 {
from  {opacity: 0;}
to  {opacity: 1;}
}

@-o-keyframes fadein /* Opera */
 {
from  {opacity: 0;}
to  {opacity: 1;}
}

@keyframes fadeout
 {
from  {opacity: 1;}
to  {opacity: 0;}
}

@-moz-keyframes fadeout /* Firefox */
 {
from  {opacity: 1;}
to  {opacity: 0;}
}

@-webkit-keyframes fadeout /* Safari and Chrome */
 {
from  {opacity: 1;}
to  {opacity: 0;}
}

@-o-keyframes fadeout /* Opera */
 {
from  {opacity: 1;}
to  {opacity: 0;}
}



// #Typography
// ==================================================
    h1 {
        font-family: 'Oswald',helvetica;
        color: $black;
        font-size:  40px;
        line-height: 60px;
        font-weight: 300;
        @media(max-width: 400px) {
        font-size: 30px
        }

 
    }

    h2 {
        font-family: 'Oswald',helvetica;
        color: $black;
        font-size:  30px;
        font-weight: 300;
        line-height: 35px;
        @media (max-width: 400px) {
            font-size: 25px;
        }
    }

    h3 {
        font-family: 'Open Sans';
        color: 000;
        font-size: 25px;
        font-weight: 300;
        line-height: 30px;
    }

    .project {
        h3 {
            font-size: 40px;
            color: $green;
            margin-bottom: 30px;
            font-family: 'Oswald';
            line-height: 45px;
        }
    }


    h4 {
        font-family: 'socialicoregular';
        font-size: 50px;
        letter-spacing:  3px;

    }


    p {
        font-size: 16px;
        line-height: 24px;
        margin: 0px auto;
        margin-bottom: 12px;    
    }

    a {
        color: #22B573;
        text-decoration:  none;
        transition: color .5s;
        -moz-transition: color .5s;
        -webkit-transition: color .5s;
        &:hover {
            color: $gray;
            transition: color .5s;
            -webkit-transition: color .5s;
            -moz-transition: color .5s;
        }
    }

    cite {
        font-size: 11px;
        font-style: italic;
        padding: 10px;
    }



    div a {
        text-decoration:  none;
        color: #22B573;
        transition: color .5s;
        -webkit-transition: color .5s;
        -moz-transition: color .5s;
    }


// #Nav 
// ==================================================
    .navcont {
        width: 100%;
        background-color: $black;
        height: 10px;
    }


// #Body
// ================================================== 
    .wrapper {
        width: 85%;
        max-width: 1000px;
        margin: 0px auto;
        margin-top: 2%;

        @media(max-width: 590px) {
            max-width: 320px;
            width: 80%;
        }
    }

    .clear {
        clear: both;
    }

    .wrapper-right {
        max-width: 800px;
        width: 100%;
        float: right;
    }

    .wrapper-left {
        width: 100%;
        max-width: 150px;
        float: left;
        margin: 0px auto;

        @media(max-width: 1000px) {
            display: none;
        }
    }




// #CONTENT
// =====================================


.header {
    margin-bottom: 50px;
}

.allyicon {
    background:  url(../img/ally.jpg) no-repeat;
    background-size: 100%;
    border-radius:  150px;
    border:  5px solid #fff;
    height:  125px;
    margin-left: 10px;
    margin-top: 10px;
    width:  125px;
    -moz-animation:  fadein 0.5s; /* Firefox */
    -moz-border-radius:  150px;
    -o-animation:  fadein 0.5s; /* Opera */
    -webkit-animation:  fadein 0.5s; /* Safari and Chrome */
    -webkit-border-radius:  150px;
    animation:  fadein 0.5s;
    }




.section {
    margin-bottom: 50px;
    h1 {
        margin-bottom: 20px;
    }
    width: 100%;
    max-width: 800px;
}

#icons,#dribbble,#myPhotos {
    overflow: hidden;
    li {
        vertical-align: top;
        background: $green;
        border: 5px solid white;
        float: left;
        margin: 0.7%;
        max-height: 132px;
        max-width: 176px;
        min-width: 125px;
        width: 22%;
        animation:  fadein 0.5s;
        -moz-animation:  fadein 0.5s; /* Firefox */
        -webkit-animation:  fadein 0.5s; /* Safari and Chrome */
        -o-animation:  fadein 0.5s; /* Opera */
            transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
        overflow: hidden;
        @media(max-width: 650px) {
            margin: 0.5%;
        }
        @media(max-width: 590px) {
            margin: 2.5%;
        }
        img {
        &:hover {
            opacity: .5;
            transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
        }
    }

}

}

#contact {
    margin-bottom: 50px;
    p {
        margin-bottom: 10px;
    }
    a {
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        transition: color .5s;
        -webkit-transition: color .5s;
        -moz-transition: color .5s;
    }
}

.submit {
    text-align: right;
}

input {
    width: 100%;
    font-family:  "Open Sans";
    font-size: 14px;
    line-height:  20px;
    margin-top: 10px;
    border: 2px solid #f4f4f4;
    padding: 4px;

}
textarea {
    width: 100%;
    height: 162px;
    font-family:  "Open Sans";
    font-size: 14px;
    line-height:  20px;
    margin-top: 10px;
    border: 2px solid #f4f4f4;
}

.thumbs {
    width: 100%;
    max-width: 200px;
    max-height: 150px;
    height: 100%;
    vertical-align: top;
    
    img {
        width: 100%;
    }

}

#myPhotos img {
    width: 130%;
    vertical-align: top;
}



.footer {
    text-align: center;
    text-align: right;
    p {
        font-size:11px;
    }
    @media(max-width:590px) {
        text-align:center;
        margin-right:0px;
    }
}

.arrows {
    color: #fff;
    display: inline-block;
    background: rgba(0,0,0,.8);
    padding: 10px;
    font-size: 40px;
    line-height: 55px;
    position: fixed;
    top: 40%;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    &.arrows-right {
        right: 0;
    }
    &.arrows-left {
        left: 0;
    }
    &:hover {
        background: rgba(0,0,0,1);
        transition: background .5s;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
    }
    @media(max-width: 400px) {
        font-size: 20px;
        line-height: 35px;
    }
}
.project-image {
    width: 100%;
    text-align: center;
    border: 5px solid white;
    background: #fff;

    img,canvas {
        max-width: 100%;

   
    }
     &.no-white {
        background: none;
        border: none;
        img, canvas {
            border: 5px solid #fff;
        &.icon {
            border: none;
            text-align: center;
            }
        }
    }

    .megabus {
        margin: 0 auto;
        text-align: center;
        width: 40%;
        padding: 100px;
    }
    .three-up-container {
        width: 25%;
        margin: 3%;
        text-align: center;
        display: inline-block;
        p {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
}

em {
    font-style: italic;
}

.problem {
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;
    p {
    font-size: 18px;}
}
    
.role-title {
    vertical-align: top;
    margin-right: 5px;
    color: $green;
    font-weight: 700;
}


.role {
    font-size: 14px;
    display: inline-block;
    li {
        margin-bottom: 10px;
    }
    margin-bottom: 15px;
}


.live {
    display: inline-block;
    border: none;
    padding: 10px 25px 10px 25px;
    margin: 40px 0px 10px 0px;
    background: $green;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    color: #fff;

    
    &:hover {
        background: $gray;
        color: #fff;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    }
}

.resume-page {
    h1 {
        font: {
            size: 20px;
        }
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    h2 {
        color: $green;
        font: {
            size: 24px;
        }
    }
    h3 {
        color: $gray;
        font: {
            style: italic;
            size: 14px;
        }
        line-height: 20px;
        margin: 0;
        margin-bottom: 3px;
    }
    p {
        font: {
            size: 14px;
        }
        line-height: 25px;
    }

    .left {
        width: 40%;
    }
    .right {
        width: 40%;
    }

    li {
        list-style: square;
        list-style-position:inside;
        font-size: 14px;
        line-height: 23px;

    }
}

.resume-description {
    margin-bottom: 50px;
}

.resume-skills {
    li {
        font-size: 12px;
    }
}

.resume-page {
    margin-bottom: 100px;
}

