<div class="contact section">
    <h1>Say Hello!</h1>
    <div id="contact">
        <form method="post" action="contact.php" id="form" autocomplete="on">
            <div class="left">
                <div>
                    <p>
                        <label for="name" class="user">Name</label>
                        <br>
                        <input type="text" name="name" required="" id="name" placeholder="My name is..."></p>
                </div>
                <div>
                    <p>
                        <label for="email" class="mail-alt">Email</label>
                        <br>
                        <input type="email" name="email" required="" id="email" placeholder="Email"></p>
                </div>
                <div>
                    <p>
                        <label for="subject" class="comment">Subject</label>
                        <br>
                        <input type="text" name="subject" required="" id="subject" placeholder="Your site is so amazing omg"></p>
                </div>
            </div>
            <div class="right">
                    <p>
                        <label for="message" class="message">Message</label>
                        <br>
                        <textarea name="message" required="" id="message" placeholder="Questions? Comments? Hire me?"></textarea>
                    </p>
                <p class="submit">
                    <a class="submit" href="#">»submit</a>
                </p>

            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="clear"></div>
</div>