<div class="footer section">
  <div class="social">
    <a href="mailto:ally@palanzi.com" class="icon-mail"></a>
    <a href="http://www.github.com/allypalanzi" target="_blank" class="icon-github"></a>
    <a href="http://www.dribbble.com/allypalanzi" target="_blank" class="icon-dribbble"></a>
    <a href="https://twitter.com/mylifeasalllly" target="_blank" class="icon-twitter"></a>
    <a href="http://www.flickr.com/photos/electricamp/" target="_blank" class="icon-flickr"></a>
  </div>
    <p>
    &copy;Ally Palanzi. Forever and ever.
    <a href="/resume.html" target="_blank">View My Resume</a>.
    </p>
</div>