<div class="footer section">
    <h4>
    <a href="http://www.dribbble.com/allypalanzi" target="_blank">d</a><a href="http://www.linkedin.com/profile/view?id=140891622&trk=hb_tab_pro_top" target="_blank">i</a><a href="https://twitter.com/mylifeasalllly" target="_blank">l</a><a href="http://www.flickr.com/photos/electricamp/" target="_blank">n</a>
    </h4>
    <p>
    &copy;Ally Palanzi. Forever and ever.
    <a href="resume.pdf" target="_blank">View My Resume</a>.
    </p>
</div>