<p class="m-pagination">
  <%= prev_section_link("&laquo; #{title_for_slug(prev_section)}") if prev_section %>
  <%= next_section_link("#{title_for_slug(next_section)} &raquo;") if next_section %>
</p>