<div class="gallery section">
<h1>Portfolio</h1>
<ul class="portfolio">

<li>
    <a href="vox.html">
        <img src="img/voxmedia-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="megabus.html">
        <img src="img/megabus-thumb.png" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="offbeat.html">
        <img src="img/offbeat-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="muse.html">
        <img src="img/muse-thumb.png" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="ysc.html">
        <img src="img/ysc-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li>

<!-- <li>
    <a href="virginiawoolf.html">
        <img src="img/virginiawoolf-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li> -->

<li>
    <a href="artallnight.html">
        <img src="img/artallnight-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="ukrave.html">
        <img src="img/ukrave-thumb.png" alt="" class="thumbs"></a>
    </a>
</li>
<!-- <li>
    <a href="papertowns.html">
        <img src="img/papertowns-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li> -->
<!-- <li>
    <a href="syke.html">
        <img src="img/syke-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li> -->
<li>
    <a href="little.html">
        <img src="img/littlehouse-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li>
<!-- <li>
    <a href="scholarsheep.html">
        <img src="img/scholarsheep-thumb.png" alt="" class="thumbs"></a>
    </a>
</li>

<li>
    <a href="chclt.html">
        <img src="img/chclt-thumb.jpg" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="designshow.html">
        <img src="img/designshow-thumb.png" alt="" class="thumbs"></a>
    </a>
</li> -->
<div class="clear"></div>

</ul>
</div>