<a href="ysc.html" class="arrows arrows-left">&lsaquo;</a>
<a href="ukrave.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Art All Night</h1>
<div class="project-image section">
    <img src="img/artallnight-1.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design, Photography, &amp; Concept</p>
<p>Save the date, invitation, brochure, and giveaway created for Art All Night, an all night art festival in Washington, DC. The design aims to reflect late, fun nights with the use of photography and bright colors.</p>
</div>
<div class="project-image section">
    <img src="img/artallnight-2.jpg">
</div>
<div class="project-image section">
    <img src="img/artallnight-3.jpg">
</div>

<div class="project-image section">
    <img src="img/artallnight.gif">
</div>
<div class="project-description section">
  <p>The brochure folds out into a poster.</p>
  </div>
</div>

<%= partial 'partials/footer' %>
