<a href="scholarsheep.html" class="arrows arrows-left">&lsaquo;</a>
<a href="designshow.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Chclt Packaging</h1>
<div class="project-image section">
    <img src="img/chclt-1.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design</p>
<p></p>
</div>
<div class="project-image section">
    <img src="img/chclt-2.jpg">
  </div>

</div>

<%= partial 'partials/footer' %>
