---
layout: project
---

<a href="chclt.html" class="arrows arrows-left">&lsaquo;</a>
<a href="ukrave.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>AU Design Expo</h1>
<div class="project-image section">
    <img src="img/designshow-1.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design</p>
<p>A poster design for American University's annual Design Expo.</p>
</div>
<div class="project-image section">
    <img src="img/designshow.png">
</div>
<div class="project-image section">
    <img src="img/designshow-2.jpg">
</div>
</div>

<%= partial 'partials/footer' %>
