<a href="syke.html" class="arrows arrows-left">&lsaquo;</a>
<a href="scholarsheep.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Little House Book Covers</h1>
<div class="project-image section">
    <img src="img/littlehouse.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design, Photography, &amp; Concept</p>
<p>Book covers made for the Little House series. More info coming soon.</p>
</div>
<div class="project-image section">
    <img src="img/littlehouse-1.jpg">
</div>
<div class="project-image section">
    <img src="img/littlehouse-2.jpg">
</div>
<div class="project-image section">
    <img src="img/littlehouse-3.jpg">
</div>
</div>

<%= partial 'partials/footer' %>
