---
layout: project
---

<a href="ukrave.html" class="arrows arrows-left">&lsaquo;</a>
<a href="polygon.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Little House Book Covers</h1>
<div class="project-image section">
    <img src="img/littlehouse.jpg">
</div>
<div class="project-description section">
  <strong class="role-title">Role:</strong>
  <ul class="role">
    <li>Concept, design</li>
  </ul><p>Book cover redesign for the Little House series.</p>
</div>
<div class="project-image section">
    <img src="img/littlehouse-1.jpg">
</div>
<div class="project-image section">
    <img src="img/littlehouse-2.jpg">
</div>
<div class="project-image section">
    <img src="img/littlehouse-3.jpg">
</div>
</div>