<a href="artallnight.html" class="arrows arrows-left">&lsaquo;</a>
<a href="ukrave.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Little House Book Covers</h1>
<div class="project-image section">
    <img src="img/littlehouse.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design, Photography, &amp; Concept</p>
<p>Book cover redesign for the Little House series. The series is about Laura Ingalls, a pinoeer child in the 1800s. The novels are based on different times in her life as her family moves from place to place. These are designed to appeal to adults who would have read these as a children, and want to purchase as keepsakes. The design reflects the setting in each story.</p>
</div>
<div class="project-image section">
    <img src="img/littlehouse-1.jpg">
</div>
<div class="project-image section">
    <img src="img/littlehouse-2.jpg">
</div>
<div class="project-image section">
    <img src="img/littlehouse-3.jpg">
</div>
</div>

<%= partial 'partials/footer' %>
