<a href="ysc.html" class="arrows arrows-left">&lsaquo;</a>
<a href="artallnight.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Megabus Rebranding</h1>
<div class="project-image section">
    <img src="img/megabus.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design, Branding, Concept</p>
<p>A redesign for Megabus, a low-cost bus company that runs all throughout North America.</p><br>
<p>The idea behind the rebrand was to bring professionalism back to Megabus with a clean, sophisticated design. The goal was to maintain visibility with busses and bus signage to make sure riders were able to find Megabus on curbsides.</p>
  <a class="live" href="http://allypalanzi.com/live/megabus-styleguide/" target="_blank">View Brand Guide</a>

</div>
<div class="project-image section">
    <img src="img/megabus-1.jpg">
</div>
<div class="project-description section">
  <p>The idea behind the ad campaign "Where will you go next?" is to promote travel between cities using Megabus.</p>
</div>
<div class="project-image section">
    <img src="img/megabus-ticket.jpg">
</div>
<div class="project-description section">
  <p>Ticket redesign to be mobile friendly and easy for drivers to scan.</p>
</div>
<div class="project-image section">
    <img src="img/megabus-bus.jpg">
</div>
<div class="project-image section">
    <img src="img/megabus-sign.png">
</div>
</div>

<%= partial 'partials/footer' %>
