---
layout: project
---

<a href="vox.html" class="arrows arrows-left">&lsaquo;</a>
<a href="offbeat.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Megabus Rebranding</h1>
<div class="project-image section">
    <img src="img/megabus-logo.svg" class="megabus">
</div>
<div class="project-description section">
  <strong class="role-title">Role:</strong> 
    <ul class="role">
      <li>Design, Branding, Concept</li>
    </ul>

  <div class="problem">
    <p><em>Problem:</em> Megabus has a very disconnected brand identity and negative brand perception.</p>
    <p><em>Solution:</em> Give Megabus a distinct, modern look to help increase their brand and perception.</p>
  </div>

<p>Megabus is a service that provides low-cost travel all across the United States and Canada. With the brand refresh, I wanted to make Megabus feel modern, clean, and sophisticated. A major goal of the rebranding, was to make busses and bus signs extremely visible since they can often be difficult to spot when searching for bus stations.</p>

</div>
<h3>Getting Started</h3>
<div class="project-image section">
<img src="img/megabus-sketches.jpg">
</div>
<div class="project-description section">

  <p>I began with the logo. Played with the ideas of connectivity, maps, travel, and obvious bus cliches.</p>
</div>
<h3>Living Styleguide</h3>
<div class="project-image section">
<img src="img/megabus-brandguide.jpg">
</div>
<div class="project-description section">

  <p>With such a huge project scope, it’s easy to lose focus and consistency. I found that making a style guide helped this process. I decided to create a “living” online style guide so it could be easily updated.</p>
  <a class="live" href="http://allypalanzi.com/live/megabus-styleguide/" target="_blank">View Brand Guide</a>
</div>

<h3>Visual Design</h3>

<div class="project-description section">


  <p>Some of the key elements to work out for this redesign were stationery, a bus sign, and new mobile friendly tickets.</p>
</div>
<div class="project-image section">
  <img src="img/megabus.jpg">
</div>
<div class="project-image section">
  <img src="img/megabus-ticket.jpg">
</div>
<div class="project-description section">

  <p>Ticket redesign to be mobile friendly and easy for drivers to scan.</p>
</div>
<div class="project-image section">
  <img src="img/megabus-bus.jpg">
</div>
<div class="project-image section">
  <img src="img/megabus-sign.png">
</div>

<h3>The Campaign</h3>

<div class="project-description section">
<div class="project-image section">
    <img src="img/megabus-1.jpg">
</div>
  <p>The brand advertising campaign. The advertisements would promote Megabus as an easy, efficient way of traveling.</p>
</div>


</div>

<%= partial 'partials/footer' %>
