<a href="ukrave.html" class="arrows arrows-left">&lsaquo;</a>
<a href="vox.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Muse - the district is your canvas</h1>
<div class="project-image section">
    <img src="img/muse-landing.jpg">
</div>
<div class="project-description section">
  <strong class="role-title">Role:</strong> 
  <ul class="role">
    <li>App Development, Design, Concept, UI/UX, &amp; Photography</li>
    <li>Madeline Beard: Design, Concept, UI/UX, Photography, Landing page development</li>
    <li>Josh Mahan: Design, Concept, UI/UX, Branding</li>
  </ul>

  <div class="problem">
    <p><em>Problem:</em> People are impatient and bored waiting for public transportation in Washington, DC.</p>
    <p><em>Solution:</em> Create an app to occupy time creatively.</p>
  </div>

  <p>Given the problem, we decided to create Muse. Muse is a web-app that makes every commute a creative experience while also bringing public, user-generated art to DC's metro stations.</p>

  <p>Each week users are given a theme based on a quote from a DC native. Using this theme as a guide, each user can create their own works of art while traveling through the metro. Submitted works can be favorited by users on the gallery page. The more "likes" a submitted work gets, the larger the image appears on "digital canvases", set up in metro stations across the city.</p>

  <a class="live" target="_blank" href="http://allypalanzi.github.io/districtmuse/landing/">View Landing Page</a>
</div>
<h3>Research, UI/UX, and User Testing</h3>
<div class="project-description section">
  <p>First, we started by sending out a survey to see what people spent their time doing while waiting for the metro. The results were clear: most spent the time browsing on their smartphones.</p>
</div>

<div class="project-image section">
    <img src="img/muse-flowchart-crop.png">
    <cite>Click to view full size <a href="/img/muse-flowchart.png">here</a>.</cite>
</div>
<div class="project-description section">
  <p>We then began to break down the app and figure out exactly what we wanted it to do. Users can see the theme, check-in to the metro station they are waiting at, draw an image, and rate other users images in the gallery.</p>
</div>

<div class="project-image section">
    <img src="img/muse-wire-crop.png">
    <cite>View full wireframes <a href="img/muse-wires.png">here</a>.</cite>
</div>
<div class="project-description section">
  <p>Next: creating the wireframes.</p>
</div>

<div class="project-image section">
    <img src="img/muse-process1.jpg">
</div>
<div class="project-description section">
  <p>After creating wireframes, we made a paper-prototype to test users to see how they used the app, and what we would need to change. The biggest challenge of this was setting the scene of being in the metro station, but luckily our app was pretty straight forward and the testers understood what to do.</p>
</div>

<h3>Interface Design</h3>

<div class="project-image section">
    <img src="img/muse-styletile.jpg">
</div>
<div class="project-description section">
  <p>After testing, we moved on to design. We created moodboards to get the overall feel of our app.</p>
</div>

<div class="project-image section no-white">
    <div class="three-up-container">
      <img class="icon" src="img/muse-checkin-icon.png">
      <p>Check-in</p>
      <img src="img/muse-intro.gif" class="three-up gif">
    </div>
    <div class="three-up-container">
      <img class="icon" src="img/muse-favorite-icon.png">
      <p>Favorite Images</p>
    <img src="img/muse-gallery.gif" class="three-up gif">
  </div>
    <div class="three-up-container">
      <img class="icon" src="img/muse-create-icon.png">
      <p>Create</p>
    <img src="img/muse-create.gif" class="three-up gif">
  </div>
</div>
<div class="project-description section">
  <p>In order to create a successful design, we had to make the user understand exactly what they needed to do. We struggled setting up the opening screen with a few variations. We wanted the theme to be front and center so the user would have no question of what to do.</p>
</div>
<h3>Beyond the Device</h3>
<div class="project-image section">
    <img src="img/muse.jpg">
</div>
<div class="project-description section">
  <p>We decided we wanted to create an app that users could interact with not just on a phone, but in actual space too. This led to the idea of Digital Canvases. These would be set up in metro stations all over the city and display the top rated images from the gallery. Users would be able to interact with these boards by clicking images to view larger and  to see who posted them. These boards would also function as Wifi hotspots.</p>
</div>

<h3>Development</h3>
<p>While all of this design was happening, I was rapidly prototyping the app. I developed it with the help of jQuery Mobile and Paper.js. All of the source code can be viewed on GitHub <a href="https://github.com/allypalanzi/districtmuse" target="_blank">here</a>.</p>
<div class="project description section">
<a class="live" target="_blank" href="http://allypalanzi.github.io/districtmuse/">View Prototype</a>
</div>
</div>



<%= partial 'partials/pagination' %>
<%= partial 'partials/footer' %>
