<a href="ukrave.html" class="arrows arrows-left">&lsaquo;</a>
<a href="vox.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Muse</h1>
<div class="project-image section">
    <img src="img/muse-landing.png">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> App Development, Design, Concept, UI/UX, &amp; Photography</p>
<p>For this project, I worked with Madeline Beard and Josh Mahan who helped with design, UI/UX, concepting, and developing the landing page.</p><br>
<p>Muse is a web-app that makes every commute a creative experience while also bringing public, user-generated art to DC's metro stations.</p><br> 
  <p>Each week users are given a theme based on a quote from a DC native. Using this theme as a guide, each user can create their own works of art while traveling through the metro. Submitted works can be favorited by users on the gallery page. The more "likes" a submitted work gets, the larger the image appears on "digital canvases", set up in metro stations across the city.</p>
<a class="live" target="_blank" href="http://allypalanzi.github.io/districtmuse/landing/">View Landing Page</a>
</div>
<div class="project-image section">
    <img src="img/muse.jpg">
</div>
<div class="project-description section">

<p>A physical mock of the boards located in metro stations.</p>
</div>
<div class="project-image section">
    <img src="img/muse-app.jpg">
</div>
<div class="project-image section">
    <img src="img/muse-process.jpg">
</div>
<div class="project-description section">

<p>Initial sketches.</p>
</div>
<div class="project-image section">
    <img src="img/muse-process1.jpg">
</div>
<div class="project-description section">

<p>A paper prototype created and tested to help figure out the UX of the app.</p>
<a href="http://allypalanzi.github.io/districtmuse/presentation.pdf" class="live" target="_blank">View Presentation</a>
</div>
</div>


<%= partial 'partials/footer' %>
