---
layout: project
---

<a href="megabus.html" class="arrows arrows-left">&lsaquo;</a>
<a href="muse.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>OffbeatDC</h1>
<div class="project-image section video-wrap">
  <iframe src="//player.vimeo.com/video/81442328?title=0&amp;byline=0&amp;portrait=0&amp;color=22B573" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="project-description section">
 <strong class="role-title">Role:</strong> 
  <ul class="role">
    <li>Design, UI/UX, Concept, Video Prototype</li>
  </ul>
  <div class="problem">
    <p><em>Problem:</em> Traveling to a new city is difficult. It’s hard to find places to go, and not feel like a tourist.</p>
    <p><em>Solution:</em> Create an app that allows locals to suggest their favorite places to visit that sets it apart from other travel applications.</p>
  </div>

  <p>DC is full of local gems, but how many of them do you know? OffbeatDC is an iPhone application to guide tourists traveling in Washington, DC. The app helps travelers discover attractions “off the beaten path" by recommending places that are curated by residents based on how far the user wants to travel and how much time they have.</p>
</div>
<h3>Not Just Another Travel App</h3>

<div class="project-image section">
    <img src="img/offbeat-flowchart.png">
</div>
<div class="project description section">
  <p>Users often only have a certain amount of time free for running around the city. The app uses their time constraint as a major factor to determine the best places for them to go along with DC specific categories to get them somewhere quickly.</p>
  </div>

<div class="project-image section">
    <img src="img/offbeat-screens-1.jpg">
</div>

<div class="project-image section">
    <img src="img/offbeat-screens-2.jpg">
</div>


</div>

<%= partial 'partials/footer' %>
