---
layout: project
---

<div class="left resume-page">
  <section class="resume-experience">
    <h1>Experience</h1>
    <div class="resume-description">
    <h2>Front-end Engineer, Vox Media</h2>
    <h3>May 2014 — Current</h3>
    <ul>
      <li>Front-end developer on Polygon</li>
      <li>Front-end developer on Vox</li>
    </ul>
  </div>
  <div class="resume-description">
    <h2>Front-end Design Intern, Vox Media</h2>
    <h3>May 2012 — May 2014</h3>
    <ul>
      <li>Polygon features designer/developer</li>
      <li>Front-end developer on VoxMedia.com</li>
    </ul>
  </div>
      <div class="resume-description">
    <h2>Front-end designer, u.krave design</h2>
    <h3>June 2012 — Current</h3>
    <ul>
      <li>Co-founder</li>
      <li>Freelance</li>
    </ul>
  </div>

  <div class="resume-description">
    <h2>TA for Intro to Web Design</h2>
    <h3>August 2011 — December 2011</h3>
    <ul>
      <li>Aided professor with teaching basic website design and
 coding with HTML, CSS, and JavaScript</li>
      <li> Helped students debug code and overcome various
 coding obstacles</li>
    </ul>

  </section>
  <section class="resume-education">
    <h1> Education</h1>
    <div class="resume-description">
    <h2>Bachelor of Arts, Graphic Design</h2>
    <h3>American University May 2014</h3>
    <p>Minor in Computer Science</p>

  </section>
  <section class="resume-skills">
    <h1>Skills</h1>
    <div class="resume-description">

    <ul class="left">
        <h3>Proficient in</h3>
        <li>Adobe Creative Suite</li>
        <li>Sass/CSS</li>
        <li>HTML5</li>
        <li>JavaScript</li>
        <li>Git</li>
    </ul>
    <ul class="right">
      <h3>Knowledge of</h3>
      <li>Python</li>
      <li>Ruby on Rails</li>
      <li>ERB Templating</li>
    </ul>
  </section>
</div>


<div class="right resume-page">
  <section class="resume-involvement">
    <h1>Involvement</h1>
    <div class="resume-description">
      <h2>DC Sass Meetup</h2>
      <h3>2014 — current</h3>
      <ul>
        <li>Plan events related to front-end technology for the DC community</li>
      </ul>
    </div>
    <div class="resume-description">
      <h2>Girl Develop It Instructor &amp; TA</h2>
      <h3>2014 — current</h3>
      <ul>
        <li>Instruct/TA various front-end related classes for women wanting to code</li>
      </ul>
  </div>
    <div class="resume-description">
      <h2>Yale Hack</h2>
      <h3>2013</h3>
      <ul>
        <li>Hackathon at Yale University</li>
        <li>Created a Chrome extension with other American U students</li>
      </ul>
  </div>

    <div class="resume-description">
    <h2>World Bank Domestic Violence Hackathon</h2>
    <h3>2013</h3>
    <ul>
      <li>Designed/developed a web application for
 Coaching Boys Into Men</li>
    </ul>
  </div>


      <div class="resume-description">
    <h2>AU Design Club</h2>
    <h3>2011 — 2014</h3>
    <ul>
      <li>Vice President 2013 — 2014</li>
      <li>Plan annual design show</li>
    </ul>
  </div>

        <div class="resume-description">
    <h2>AU ACM </h2>
    <h3>2011 — 2014</h3>
    <ul>
<li>Association of Computing Machinery</li>
<li>PR Chair 2012 — 2013</li>
<li>Improve student involvement in CS</li>
<li>Plan speakers and events</li>
    </ul>
  </div>


        <div class="resume-description">
    <h2>AIGA Washington, DC</h2>
    <h3>2012 — Present</h3>

  </div>

  </section>


</div>
<div class="clearfix"></div>
