<a href="papertowns.html" class="arrows arrows-left">&lsaquo;</a>
<a href="little.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Sykefest</h1>
<div class="project-image section">
    <img src="img/sykefest.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design, Photography, Front-End Developer &amp; Concept</p>
<p>One of the first websites I designed and coded, an event site created for Syke, a Northern Virginia non-profit.</p>
<a class="live" href="http://allypalanzi.com/live/sykefest/" target="_blank">View it live!</a>
</div>
<div class="project-image section">
    <img src="img/syke-2.jpg">
</div>
</div>

<%= partial 'partials/footer' %>
