<a href="little.html" class="arrows arrows-left">&lsaquo;</a>
<a href="vox.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>u.krave design Website</h1>
<div class="project-image section">
    <img src="img/ukrave-1.png">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Designer &amp; Front-End Developer</p>
<p>A responsive portfolio built for <a href="http://www.unakravets.com" target="_blank">Una Kravet's</a> and my Freelance Design team. This was my first responsive website, first time using GitHub, and first time creating a site closely with another designer/developer.</p>
<a class="live" href="http://www.ukrave.us" target="_blank">View it live!</a>
</div>
<div class="project-image section">
    <img src="img/ukrave-2.png">
</div>
<div class="project-image section">
    <img src="img/ukrave-3.png">
</div><div class="project-image section">
    <img src="img/ukrave-4.png">
</div>
</div>

<%= partial 'partials/footer' %>
