<a href="muse.html" class="arrows arrows-left">&lsaquo;</a>
<a href="papertowns.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Who's Afraid of Virginia Woolf?</h1>
<div class="project-image section">
    <img src="img/virginiawoolf-1.jpg">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong> Design, Photography, &amp; Concept</p>
<p>Poster created for the play Who's Afraid of Virginia Woolf? For this project, I layed out symbols and items from the play on a table to demonstrate the disarray throughout the play, then photographed it. I overlaid bold, modern typography to give off the modern feel of the family structure in the play, even though it is about a family in the 60s.</p>
</div>
<div class="project-image section">
    <img src="img/virginiawoolf.jpg">
</div>
</div>


<%= partial 'partials/footer' %>
