---
layout: project
---

<a href="vox.html" class="arrows arrows-left">&lsaquo;</a>
<a href="megabus.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Vox Sentences</h1>
<div class="project-image section">
    <img src="img/vox-sentences-2.jpg">
</div>
<div class="project-description section">
  <strong class="role-title">Role:</strong>
  <ul class="role">
    <li>Lead Front-end Developer</li>
    <li>Matt Sullivan: Front-end Developer</li>
    <li>Warren Schultheis: Designer</li>
  </ul>
  <p>Vox Sentences is a daily newsletter sent out by the Vox editorial staff. The idea is quick exerpts of the daily news from various sources.</p>
  <h3>Creating a tool</h3>
  <p>Email newsletters are hard. Well, in reality, the development restrictions are what is hard. Tables, inline CSS, Outlook -- there's so much that can go horribly, horribly wrong.</p>
  <p>In order to make this process as painless as possible, instead of just developing the design, putting it into a SailThru template, and passing it off to thew newsletter editor saying "Good luck! Hope you don't break the HTML!", I decided to take one step out of this for him: the code.</p>
  <p>I created a fairly basic generator that read from a google spreadsheet and outputted the newsletter template as HTML for the editor to copy paste into Sailthru and also another output to post it directly into an entry on Vox.</p>
  <p>In doing this, I found some other great tools that made developing emails better. I set it up to automatically turn my compiled Sass into inline CSS, for example.</p>
  <p>Creating the generator made creating a newsletter fun. And even better, I got to learn some new libraries and tools along the way:</p>
  <ul class="role">
    <li>Middleman - a ruby on rails static site generator</li>
    <li>Handlebars - a JavaScript templating language</li>
    <li>TableTop.js - allows easy access to Google spreadsheet data</li>
    <li>Grunt Premailer - automatically generates inline styles for emails, tests emails, and is just generally a life save</li>
  </ul>
</div>
<div class="project-image section">
    <img src="img/vox-sentences-3.jpg">
</div>
<div class="project-image section">
    <img src="img/vox-sentences-4.jpg">
</div>
<div class="project-image section">
    <img src="img/vox-sentences-5.jpg">
</div>
</div>