---
layout: project
---
<a href="polygon.html" class="arrows arrows-left">&lsaquo;</a>
<a href="megabus.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
  <h1>Vox Media Website &amp; Media Kit</h1>
<div class="project-image section">
    <img src="<%= image_path("voxmedia.jpg") %>">
</div>
<div class="project-description section">
  <strong class="role-title">Role:</strong> 
  <ul class="role">
    <li>Front-end Developer</li>
    <li>Tate Tozer, John Fuller: Front-end Developers</li> 
    <li>Joe Grossberg: Full-stack Developer</li>
    <li>Uy Tieu, Ted Irvine, Ramla Mahmood: Design</li>
  </ul>  
  <p>Vox Media is one of the fastest-growing online publishers, focused on lifestyle brands that connect with passionate audiences. </p>
  <p>Vox Media creates things for the internet…but didn't represent itself anywhere. Because most revenue is brought in by ads, we needed a place to centralize advertising information so that companies could better approach us. We needed to focus on showing our brands, their audiences, different ad units, all while maintaining a unified feel.</p>

  <a class="live" href="http://www.voxmedia.com" target="_blank">View it live!</a>
</div>
<h3>Beginning in the Browser</h3>
<div class="project-image section">
  <img src="img/vox-media-moodboard.jpg">
</div>
<div class="project-description section">
  <p>Through some research, we discovered the idea of responsive moodboards. These gave viewers the chance to see what our site would feel like on every device. Ted Irvine and Uy Tieu wrote a little more about our process <a href="http://product.voxmedia.com/post/57083313268/staticity-no-more" target="_blank">here</a>.
</p>

</div>

<div class="project-image section">
  <img src="img/vox-media-wireframe.jpg">
</div>
<div class="project-description section">
  <p>We had a pretty short time line for this project and meetings with stakeholders often. We wanted to be able to show the layout as it would be viewed in the end — in a browser. I quickly prototyped wireframes in browser using Bootstrap so that I could make changes on the fly.
</p>
</div>
<h3>The Styleguide</h3>
<div class="project-image section">
  <img src="img/vox-media-styleguide.jpg">
</div>
<div class="project-description section">
  <p>Because of the scope of this project, there were a lot of designs that needed to be centralized, organized, and kept consistent. In order to do this, whenever I got a design mock with a new asset, I built it out here. This helped us keep consistent and also helped any new developer or designer jumping on the project to get a feel for what we were building.</p>


</div>

<h3>The Outcome</h3>

<div class="project-image section">
  <img src="img/vox-media-screen2.jpg">
</div>

<div class="project-image section">
  <img src="img/vox-media-screen1.jpg">
</div>

<div class="project-image section">
  <img src="img/vox-media-screen3.jpg">
</div>

<h3>The Media Kit</h3>
<div class="project-image section">
  <img src="img/vox-media-kit1.jpg">
</div>
<div class="project-image section">
  <img src="img/vox-media-kit.gif">
</div>

</div>

<%= partial 'partials/footer' %>
