<a href="vox.html" class="arrows arrows-left">&lsaquo;</a>
<a href="muse.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Yoga Service Council Rebrand</h1>
<div class="project-image section">
    <img src="img/ysc.png">
</div>
<div class="project-description section">
<p class="role"><strong>Role:</strong>Identity, Design</p>
<p>A brand refresh for the Yoga Service Council. More description coming soon.</p>
</div>
<div class="project-image section">
    <img src="img/ysc-1.png">
</div>
</div>

<%= partial 'partials/footer' %>
